%section#sub1
  .page_header
    %h1
      Graphics
  = render 'sub1'
    
%section#sub2
  .page_header
    %h1
      Calculettes
  = render 'sub2'
    
%section#sub3
  .page_header
    %h1
      Conseils
  = render 'sub3'