// Place all the styles related to the Advisors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$linkcolor: #0069D6;

ul#advisors_list li {
	list-style: none;
	line-height: 2.5em;
}

ul#advisors_list li a:link {
	color: $linkcolor;
}

ul#advisors_list li a:visited {
	color: $linkcolor;
}

span.advisor_name {
	display: inline-block;
	width: 30%;
}

span.bank_name {
	font-style: italic;
	font-size: 11px;

}

span.advisor_rate {
	display: inline-block;
	text-align: right;
	width: 30%;
}

span.view_comment {
	display: inline-block;
	width: 30%;
	text-align: right;
}

div.advisor_comments {
	display: none;
	margin-bottom: 15px;
}

div#commentform {
	display: none;
}

#basic-modal-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {height:250px; width:600px; color:#bbb; background-color:#FFF; border:2px solid #CCC; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}

textarea.largeText {width: 400px}





