// Place all the styles related to the Advisors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#advisors_list li {
	list-style: none;
	line-height: 2.5em;
}

span.advisor_name {
	display: inline-block;
	width: 30%;
}

span.bank_name {
	display: inline-block;
	width: 30%;
}

span.advisor_rate {
	display: inline-block;
	width: 20%;
}

ul.advisor_comments {
	display: none;
}